/* Стили для шапки сайта */
.header{
    background-color: white;
    color: black;
}
.header__title{
    background-color: white;
    color: black;
    font-family: "Poppins";
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    text-transform: none;
}
.menu__item{
    background-color: white;
    color: black;
    font-family: "Poppins";
    font-size: 16px;
    line-height: 28px;
    font-weight: 600;
    font-style: normal;
    text-align: left;
    text-decoration: none;
    text-transform: none;
}
.menu__item a{
    text-decoration: none;
    color: black;
}
.header__login{
    background-color: #02897A;
    color: white;
    font-family: "Poppins";
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    font-style: normal;
    text-align: left;
    text-decoration: none;
    text-transform: none;
    /* делаем красивую кнопку */
    padding: 5px;
    border-radius: 5px;
}